.contents
  = render partial: "partial/index_sidebar"
  .main
    .main__select
      .main__select__group-name #{@group.name}
      = link_to "Edit", edit_group_path(@group), class: "main__select__edit-botton"
      %ul.main__select__group__member Members:
      - @group.users.each do |user|
        %li.main__select__group__member-list #{user.name}
    .main__message
      - @group.messages.each do |message|
        .main__message__send-name #{message.user.name}
        .main__message__send-time #{message.created_at.strftime("%Y-%m-%d %H:%M:%S")}
        .main__message__content #{message.body}
        .main__message__content #{image_tag message.image}
    .main__send
      = form_for @message, url: group_messages_path do |f|
        = f.text_field :body, class: "main__send__message", placeholder: "  type a message"
        %label.main__send__form
          = f.file_field :image, class: "main__send__form-image"
          %i{class: "fa fa-image"}
        = f.submit "send", class: "main__send-botton"
