.contents
  = render partial: "partial/index_sidebar"
  .main
    .main__select
      .main__select__group-name #{@group.name}
      %a.main__select__edit-botton{href:"/groups/#{@group.id}/edit"} Edit
      .main__select__group__member-list Members: test test test test test test 
    .main__message
      .main__message__send-name Daisuke
      .main__message__send-time 2017/7/25 18:34:23
      .main__message__content  test test test test 
    .main__send
      = form_for @message, url: group_messages_path do |f|
        = f.text_field :body, class: "main__send__message", placeholder: "type a message"
        %label.main__send__form
          = f.file_field :image, class: "main__send__form-image"
          %i{class: "fa fa-image"}
        = f.submit "send", class: "main__send-botton"
